---
import Layout from '../layouts/BlogPost.astro';
import { AboutHeadPoster } from '../constants/images'
---

<Layout
	title="About Me"
	description="A little about me, Sharmin Linnn"
	pubDate={new Date('Dec 17 2024')}
	heroImage={AboutHeadPoster}
>
	<p>
		Hello, I am Sharmin Linnn. A Fronted Developer from Chengdu,
		Sichuan, China. I am always looking for new things to learn
		and new ways to improve my skills.
	</p>
	<p>
		Here is my personal blog. I will be posting some of my learning
		outcomes or some of my thoughts. I hope you enjoy reading it.
		Thanks.
	</p>
</Layout>
