---
import TwitterIcon from "../components/Base/svg/twitter.astro";
import GithubIcon from "../components/Base/svg/github.astro";

const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Sharmin Linnn. All rights reserved.
	<div class="social-links">
		<a href="https://twitter.com/astrodotbuild" target="_blank">
			<span class="sr-only">Follow Astro on Twitter</span>
			<TwitterIcon></TwitterIcon>
		</a>
		<a href="https://github.com/withastro/astro" target="_blank">
			<span class="sr-only">Go to Astro's GitHub repo</span>
			<GithubIcon></GithubIcon>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
